@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;;
  font-weight: 300;
  background: linear-gradient(to bottom right, #232b29, #1f0106);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
}
h1{
  padding:20px; 
}
.wrap {
  display: inline-block;
  min-width: 360px;
  min-height: 400px;
  padding: 50px 15px;
  background-color: #000000;
  box-shadow: 0 5px 25px #00000a;
  border-radius: 8px;
  text-align: center;
}

#timer {
  position: relative;
  width: 250px;
  height: 250px;
  line-height: 250px;
  border-radius: 50%;
  font-size: 32px;
  margin: 0 auto;
  background-color: #000000;
  color:#ffffff;
}

p {
  font-weight: 400;
  color: gray;
  padding: 30px 0;
}

.option a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
}

#play,
#reset {
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50px;
  color: #ffffff;
  background: linear-gradient(45deg, #0655a09d, #b86e00);
  box-shadow: 0 5px 5px #0f70c0, 0 8px 25px #545a05;
  transition: all ease 0.1s;
}

#stop {
  padding: 15px 20px;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 400;
  background: linear-gradient(45deg, #0655a09d, #b86e00);
  box-shadow: 0 5px 5px #0f70c0, 0 8px 25px #545a05;
  transition: all ease 0.1s;
}

#play:active,
#reset:active,
#stop:active {
  transform: scale(0.95);
}

#stop .fas {
  margin-right: 5px;
}
.fa-play{
  padding-left: 5px;
}

.pause .fa-play,
a .fa-pause{
  display: none;
}

.pause .fa-pause {
  display: inline-block;
}


/* Circle animation */

#timer svg {
  position: absolute;
  left: 0;
}

#animateCircle.addAnimation {
  stroke-dasharray: 770;
  stroke-dashoffset: -770;
  animation: animateCircle 60s linear infinite;
  animation-play-state: pause;
}

@keyframes animateCircle {
  from {
    stroke-dashoffset: 0;
  }
}
.defaultCircle {
  opacity: 0.3;
}

